/* EventCalendar.css */
.event-calendar-container {
    font-family: 'Arial', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
  }
  
  .error-message {
    background-color: #ffebee;
    color: #c62828;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 14px;
  }
  
  /* Modal.css */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
  }
  
  .modal-content h2 {
    margin-top: 0;
    color: #333;
  }
  
  .modal-content form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .modal-buttons button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .modal-buttons button[type="submit"] {
    background-color: #4caf50;
    color: white;
  }
  
  .modal-buttons button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .modal-buttons button[type="button"] {
    background-color: #f44336;
    color: white;
  }
  
  .modal-buttons button[type="button"]:hover {
    background-color: #d32f2f;
  }

  /* Estilos personalizados para el calendario */
.fc .fc-button-primary {
  background-color: #4f46e5; /* Color del sidebar (indigo-600) */
  border-color: #4f46e5;
  margin-right: 5px; /* Añade espacio entre los botones */
}

.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button-primary:not(:disabled):active {
  background-color: #4338ca; /* Un tono más oscuro para el estado activo (indigo-700) */
  border-color: #4338ca;
}

.fc .fc-button-primary:hover {
  background-color: #4338ca; /* El mismo tono más oscuro para el hover */
  border-color: #4338ca;
}

.fc .fc-toolbar-title {
  color: #1e293b; /* Un color oscuro para el título (slate-800) */
}

/* Estilo para los días de la semana */
.fc th {
  color: #4b5563; /* Un color gris oscuro para los días de la semana (gray-600) */
}

/* Estilo para los números de los días */
.fc .fc-daygrid-day-number {
  color: #1e293b; /* El mismo color oscuro que el título (slate-800) */
}

/* Estilos para los botones de vista */
.fc-button-group {
  display: flex;
  gap: 5px; /* Añade espacio entre los botones dentro del grupo */
  
}

.fc .fc-button {
  padding: 6px 12px; /* Ajusta el padding para un mejor aspecto */
}

/* Ajuste adicional para el botón "Hoy" */
.fc-today-button {
  margin-right: 10px !important; /* Añade más espacio después del botón "Hoy" */
}